*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(191, 186, 186);
}
h1{
    font-size: 20rem;
    color: white;
    font-weight: 800;
}
img{
    width: 12rem;
    margin-left: 10rem;
}


